.app-navigation {
    display: block;

    padding: 0px 0px 0px 5px;
    border-right: solid 1px #3a3a3a;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: #272727;

    hr {
        border-top: solid 1px #232323;
        margin: 0px;
    }

    &__item {
        display: block;

        a {
            display: flex;
            align-items: center;
            padding: 10px;

            .label {
                display: inline-block;
                flex-grow: 1;
            }

            .badge {
                display: inline-block;
                padding: 3px 5px;
                border-radius: 50px;
                font-size: 12px;
                color: #fff;
                background-color: #1e1e1e;
            }

            .fa {
                margin: 0px 10px 0px 0px;
            }

            &:hover {
                background-color: #2f2f2f;
            }
        }
    }
}