.playlist {    
    .playlist-item {
        border-top: solid 1px #272727;
        align-items: stretch;

        &__body {
            padding: 5px 0px;
        }

        button, 
        .popup-button {
            height: 100%;
        }
    }

    .playlist-item + .playlist-item {
        margin-top: -1px;
    }
}
