.list-of-items {

    ol {
        list-style: none;
        padding: 0px;
    }

    li + li {
        margin: 0px;
    }

    li:not(:first-child) {
        .playlist-item {
            border-top: solid 1px #272727;
        }
    }

    .playlist-item {
        align-items: stretch;

        button {
            opacity: 0;
        }

        &:hover button {
            opacity: 1;
        }

        &__body {
            padding: 5px 0px;
        }

        button, 
        .popup-button {
            height: 100%;
        }
    }

    li.selected .playlist-item {
        button:hover {
            border-color: #94d2f2;
            background-color: #94d2f2;
        }
    }
}
