.list-of-items {

    ol {
        list-style: none;
        padding: 0px;
    }

    li + li {
        margin: 0px;
    }

    li:not(:first-child) {
        .playlist-item {
            border-top: solid 1px #272727;
        }
    }

    li.selected {
        .playlist-item {
            border-color: #bde6fb;
        }
    }

    .playlist-item {
        align-items: stretch;

        &__body {
            padding: 5px 0px;
        }

        button, 
        .popup-button {
            height: 100%;
        }
    }
}
