.queue-display {
    display: block;
    width: 0px;
    height: 100%;
    z-index: 10;

    &__drawer {
        width: 0px;
        height: 100%;
        margin: 0px;
        overflow: hidden;
        transition-property: width margin;
        transition-duration: 0.5s;
    }

        &__content {
            width: 500px;
            height: 100%;
            padding: 10px;
            border-left: solid 1px #1f1f1f;
            overflow: auto;
            overflow-x: visible;
            overflow-y: auto;
            background-color: #272727;
        }
}

/*--------------------------------*/

.queue-display {

    &.is-open &__drawer {
        width: 500px;
        margin: 0px 0px 0px -500px;
    }

}