.simple .tabbed-router__tab-manager {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
        background-color: #272727;
    }

        &__controls {
            flex-shrink: 1;
            align-items: center;
            display: flex;
            width: auto;
            margin: 0px 10px 0px 0px;
        }

            &__controls button {
                margin: 0px;
                border-color: transparent;
                background-color: transparent;
            }

            &__backwards-button:before {
                content: "\f060";
                font-family: ForkAwesome;
            }

            &__forwards-button:before {
                content: "\f061";
                font-family: ForkAwesome;
            }
        
        &__tabs-bar {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            overflow-x: auto;
            overflow-y: visible;
        }

    &__tab-panels {
        height: 100%;
        overflow-y: auto;
    }
}

/*--------------------------*/

.simple .tabbed-router__tab-button {
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 0;
    width: auto;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 0px 3px 0px 0px;
    background: #5a5958;

    &--focused {
        opacity: 1;
    }

    span {
        display: block;
        overflow: hidden;
        margin: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    button {
        opacity: 0;
        padding: 0px;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        min-width: 0px;
        min-height: 0px;
        margin: 0px 0px 0px 10px;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        background-color: #303030;
    }

    &:hover button {
        opacity: 1;
        background-color: #303030;
    }

    button:before {
        content: 'X';
    }
}

.tabbed-router__tab-button:first-child:last-child {
    button {
        display: none;
    }
}

/*--------------------------*/

.tabbed-router__tab-panel {
    display: none;
    width: 100%;
    min-height: 200px;

    &--focused {
        display: block;
    }
}

