
@import './_tabs.scss';
@import './_layout.scss';
@import './_globals.scss';
@import './_app-navigation.scss';
@import './_reproduction-controls.scss';
@import './_playlist-item.scss';
@import './_playlist.scss';
@import './_queue-display.scss';
@import './_header.scss';
@import './_float-menu.scss';
@import './_pagination.scss';
@import './_search-header.scss';
@import './_view--playlist.scss';
@import './_view--release.scss';
@import './_view--search.scss';
@import './_view--albums.scss';
@import './_view--artists.scss';

.hidden {
    display: none;
}

/*--------------------------------------------*/

.card {
    display: block;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: #242424;


    .thumbnail {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        margin: 0px 0px 10px 0px;

        img {
            width: auto;
            height: 100%;
        }
    }

    h4 .fa {
        margin-left: 10px;
    }

    button {
        width: 100%;
    }
}

/*--------------------------------------------*/

.simple .grid.releases {
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.simple .grid.artists {
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.messages ul {
    list-style: none;    
}

.messages ul.errors {
    background-color: red;
}

.messages ul.successes {
    background-color: green;
}

.messages ul.warnings {
    background-color: orange;
}

/*--------------------------------------------*/

.modal .modal-content {
    background-color: #505050;
}

/*--------------------------------------------*/
