.tab-manager {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
    }

        &__controls {
            flex-shrink: 1;
            align-items: center;
            display: flex;
            width: auto;
            margin: 0px 10px 0px 0px;
        }

            &__controls button {
                margin: 0px;
            }

            &__backwards-button:before {
                content: 'B';
            }

            &__forwards-button:before {
                content: 'F';
            }
        
        &__tab-links {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            overflow-x: auto;
            overflow-y: visible;
        }

    &__tab-panes {
        overflow-y: auto;
    }
}

/*--------------------------*/

.tab-link {
    opacity: 0.5;
    display: flex;
    align-items: center;
    width: auto;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 0px 3px 0px 0px;
    background: #5a5958;

    &.focused {
        opacity: 1;
    }

    span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    button {
        padding: 0px;
        border-radius: 50px;
        min-width: 26px;
        min-height: 26px;
        margin: 0px 0px 0px 10px;
        text-align: center;
    }

    button:before {
        content: 'X';
    }
}

/*--------------------------*/

.tab-panel {
    display: none;
    width: 100%;
    min-height: 200px;
    padding: 10px;

    &.focused {
        display: block;
    }
}

